<html>
    <head>
        <title>Hello</title>
        <link rel="stylesheet" href="/css/home.css" />
    </head>
    <body>
        <% if (name === "yahya") { %>
            <p>Hello Yahya!</p>
            <img src="/images/test.png" />
        <% } else { %>
            <p>Hello <%= name %></p>
        <% } %>
        
    </body>
</html>